.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999;
}

.catContainer {
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.checkbox-container label {
  font-size: 16px;
}

.cat-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

#cat-filter-h2 {
  margin-top: 25px;
}

.catContainer h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0px 0px 0px 23px;
}

.each-checkbox {
  display: flex;
  flex: 1 1 auto;
  width: 12vw;
  padding: 10px;
  align-items: center;
}

.each-checkbox label {
  font-size: 16px;
}

.cat-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.cat-buttons button {
  margin-right: 20px;
  color: white;
  background-color: #e00707;
  border-radius: 5px;
  border: #e00707;
  font-size: 16px;
}

.cat-buttons button:hover {
  color: #333333;
}

#line-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #333333;
}

.new-list-modal {
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 40vw;
  height: 25vh;
  margin: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.new-note-modal,
.create-list-modal,
.update-acc-modal,
.addFriend-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  padding: 20px;
}

.create-list-modal,
.update-acc-modal,
.addFriend-modal {
  min-width: 35vw;
}

.create-list-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modalbtn {
  color: white;
  background-color: #e00707;
  border-radius: 5px;
  border: #e00707;
}

.addTo-list-modal button:hover,
.modalbtn:hover {
  color: black;
}

.addTo-list-modal {
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  z-index: 2;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

#addToList-section,
#modal-lists,
.checkbox-container,
#price-filter {
  display: flex;
}

#modal-lists {
  align-items: center;
}

#price-filter h2 {
  padding-top: 3px;
}

.checkbox-container {
  margin-top: 5px;
}

.checkbox-container label {
  padding-bottom: 3px;
}

#all-lists-container {
  margin: 20px 0px 20px 20px;
  overflow-y: auto;
}

#line-input {
  width: 100%;
  padding: 0px;
  margin: 20px 0px;
}

.addTo-list-form {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.close-modal {
  display: flex;
  justify-content: flex-end;
}

.modal-content,
.closeX {
  margin: 5px;
}

.friendModal-content {
  display: flex;
}

.friend-modalps p {
  margin-top: 5px;
}

.friend-modalps {
  margin: 25px 0px 0px 10px;
}

.error-modal {
  border: 1px solid #e00707;
  background-color: white;
  color: #e00707;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 0px 10px;
}

.modalX,
.closeX,
.modalbutton,
.modalbutt {
  color: #e00707;
  font-size: 16px;
  background-color: white;
  border: none;
}

.modalbutton,
.modalbutt {
  margin: 0;
}

.modalbutt {
  margin-top: 10px;
}

.modalX {
  margin: 10px;
}

.modalX:hover,
.closeX:hover,
.modalbutton:hover,
.modalbutt:hover {
  color: #333333;
}

@media only screen and (max-width: 1100px) {
  /* mid-break-point: */
  .catContainer {
    width: 90vw;
    height: 95vh;
    margin: 0vw 0vh;
  }

  .each-checkbox {
    flex: 1 1 23%;
    padding: 8px;
  }
  .each-checkbox label,
  .checkbox-container label,
  #price-filter h2 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .catContainer {
    background-color: white;
    border: none;
    width: 95vw;
    height: 100%;
    margin-right: 3vw;
    overflow-y: auto;
  }

  .cat-buttons button {
    font-size: 14px;
  }

  .each-checkbox label,
  .checkbox-container label,
  #price-filter h2 {
    font-size: 12px;
  }
  .each-checkbox {
    flex: 1 1 20%;
    padding: 8px;
  }
  #all-lists-container p {
    font-size: 14px;
  }
}
