.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999;
}

.catContainer {
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 70vw;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.cat-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cat-filter-h2 {
  margin-top: 25px;
}

.catContainer h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0px 0px 0px 20px;
}

.each-checkbox {
  width: 10vw;
  display: flex;
  margin: 10px;
  align-items: center;
}

.each-checkbox label {
  font-size: 14px;
}

.cat-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.cat-buttons button {
  margin-right: 20px;
  color: white;
  background-color: #e00707;
  border-radius: 5px;
  border: #e00707;
  font-size: 16px;
}

.cat-buttons button:hover {
  color: #333333;
}

#line-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #333333;
}

.new-list-modal {
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 40vw;
  height: 25vh;
  margin: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.create-list-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 10%;
}

.create-list-form input,
.modalbtn {
  margin: 10px;
}

.modalbtn {
  color: white;
  background-color: #e00707;
  border-radius: 5px;
  border: #e00707;
}

.modalbtn:hover {
  color: black;
}

.addTo-list-modal {
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 60vw;
  height: 50vh;
  margin: auto;
  z-index: 2;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#addToList-section,
.modal-lists,
.checkbox-container,
#price-filter {
  display: flex;
}

.checkbox-container {
  margin-top: 5px;
}

#all-lists-container {
  margin: 20px 0px 20px 20px;
  overflow-y: auto;
}

#line-input {
  width: 70%;
}

.addTo-list-form {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.modalX {
  width: 20px;
  color: #e00707;
  font-size: 20px;
  background-color: white;
  border: none;
  margin: 10px;
}

.modalX:hover {
  color: #333333;
}

#close-modal {
  display: flex;
  justify-content: flex-end;
}
