body {
  font-family: sans-serif;
}

.header {
  font-weight: bolder;
}

.header,
.login-link,
.signup-link {
  color: #e00707;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.signup-link {
  padding: 0px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
