body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  margin: 0px;
}

.header,
.login-link,
.signup-link {
  color: #e00707;
  font-size: 20px;
}

.header {
  font-weight: bolder;
  font-size: 25px;
}

a {
  text-decoration: none;
}

.signup-link {
  padding-left: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid 1.5px rgb(244, 239, 239);
}

.home-main-container,
.search-container {
  display: flex;
  flex-direction: column;
}

.search-container {
  align-items: center;
}

#search-form,
#category-form,
#price-form {
  display: flex;
}

#searched-filters button {
  margin-left: 20px;
  color: #333333;
  background-color: white;
  border: none;
}

#search-filter-containers,
.searchcard-link-addbttn {
  display: flex;
  justify-content: space-between;
}

.searchcard-link-addbttn {
  margin-right: 5vw;
}

.filter-price-checkbox {
  margin: 0px 3px 5px 10px;
}

#search-filter-containers p {
  margin: 0px;
}

.filter-price-checkbox {
  margin-left: 5px;
}

.search-label-input {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

#search-form button {
  margin-top: 19px;
  width: 70px;
}

.openModalBtn {
  border: none;
  font-size: 16px;
  background-color: white;
  margin: 0px 0px 0px 50px;
  padding: 0;
}

.search-label-input input {
  width: 20vw;
  font-size: 17px;
}

#search-form {
  margin-top: 20px;
}

#searched-filters {
  display: flex;
}

#searched-filters p,
#add-to-list-click,
.yelp-link {
  font-size: 14px;
  color: #e00707;
}

.card-img {
  width: 20vw;
  height: 20vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.list-card {
  border: solid 1px rgb(214, 213, 213);
  box-shadow: 1px 1px rgb(244, 239, 239);
  border-radius: 15px;
  width: 20vw;
  margin: 20px;
}

.restaurant-list-card {
  display: flex;
  border: solid 1px rgb(214, 213, 213);
  box-shadow: 1px 1px rgb(244, 239, 239);
  border-radius: 15px;
  width: 70vw;
  height: 15vh;
  margin: 3vh 0vh 3vh;
}

.restaurant-list-card p {
  margin: 8px 0px;
}

#rest-card-cat {
  margin-top: 8px;
}

#add-to-list-click {
  margin: 0px;
}

.restaurant-card-img {
  width: 13vw;
  height: 15vh;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#rest-list-card1 {
  flex: 5 5 0;
}

#rest-list-card2 {
  flex: 1 1 auto;
  width: 30vw;
}

#rest-list-card3 {
  flex: 1 1 auto;
  width: 20vw;
}

.list-card p {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.home-header-container,
.home-lists-container,
.home-filter-container,
.intro {
  display: flex;
  justify-content: center;
}

.profile-name,
.list-name,
.loading-p {
  font-size: 2rem;
  padding: 20px;
}

.profile-add-list {
  height: 30px;
  margin: 50px 20px;
  padding: 7px 12px 0px 11px;
  font-size: 18px;
  background-color: #e00707;
  border-radius: 5px;
  color: aliceblue;
}

.profile-img {
  padding: 20px;
  width: 10vw;
  border-radius: 30px;
}

.home-filter-container label {
  padding-right: 10px;
  font-size: 20px;
}

.home-filter-container input {
  padding-right: 5px;
}

.intro {
  font-size: 20px;
  margin-top: 20px;
}

#login-container,
#signUp-container {
  margin: auto;
  width: 40vw;
  background-color: rgb(234, 232, 232);
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

#signUp-container {
  margin-top: 40px;
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
}

.form-headings {
  text-align: center;
  margin: 0px;
}

#login-form input,
#signup-form input {
  margin: 5px 0px 20px;
  font-size: 17px;
  border-radius: 3px;
  border: 1px solid rgb(222, 219, 219);
}

.button {
  font-size: 17px;
  color: white;
  background-color: #e00707;
  align-self: center;
  border-radius: 5px;
  border: #e00707;
  margin-bottom: 10px;
  height: 25px;
}

.search {
  width: 30px;
}

.nav-dropdown-container a {
  text-decoration: none;
}

.nav-dropdown-container {
  overflow: hidden;
}

.nav-dropdown-container .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #333333;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#home-main-container {
  filter: blur(1px);
}

#sign-up {
  display: flex;
  justify-content: center;
}

#login-signup-link {
  font-size: 25px;
  background-color: #fdeded;
  padding: 25px;
  border-radius: 40px;
}

#login-signup-link a {
  color: #e00707;
  font-weight: bolder;
}

.user-account-container {
  display: flex;
  flex-direction: row;
}

.useracc-left-nav {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
}

.user-account-h1 {
  margin: 20px 30px;
  font-size: 2rem;
}

.useracc-right-main {
  margin-left: 5vw;
}

.useracc-left-nav a {
  margin-top: 20px;
  color: #333333;
}

.user-section {
  background-color: #f4f4f4;
  border-radius: 0.3571428571rem;
  padding: 20px 10px 10px;
  margin-bottom: 10px;
  width: 70vw;
  display: flex;
}
.useracc-info p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.account-Btn-container {
  position: absolute;
  left: 80%;
}

.dropdown-content a:hover,
.catContainer input:hover,
.search-label-input input:hover,
#login-form input:hover,
#signup-form input:hover {
  background-color: #ddd;
}

.nav-dropdown-container:hover .dropdown-content {
  display: block;
}

.nav-dropdown-container:hover .dropbtn {
  background-color: #e00707;
  color: white;
}

#login-signup-link a:hover,
.header:hover {
  color: #333333;
}

.useracc-left-nav a:hover,
#searched-filters button:hover,
.openModalBtn:hover {
  color: #e00707;
}

#add-to-list-click:hover,
.button:hover,
.yelp-link:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  p,
  label,
  input,
  .button,
  a,
  #login-signup-link,
  .profile-name,
  .profile-add-list,
  .home-filter-container label,
  .form-headings,
  #login-form label,
  #login-form input,
  #signup-form label,
  #signup-form input,
  #signup-form button,
  #login-form button,
  .nav-dropdown-container .dropbtn {
    font-size: 14px;
  }

  #stars,
  .restaurant-list-card p,
  .yelp-link,
  #restaurantCard-rating-link,
  #add-to-list-click {
    font-size: 12px;
  }

  #searched-filters {
    display: flex;
    flex-direction: column;
  }

  .form-headings {
    padding-bottom: 10px;
  }

  .intro {
    margin: 0px;
    padding: 0px 10px;
  }

  .profile-name,
  #login-signup-link {
    margin: 0px;
  }

  .profile-add-list {
    margin: 0px;
    background-color: white;
    color: #e00707;
    padding-top: 20px;
  }

  .profile-img {
    display: none;
  }

  .home-lists-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list-card,
  .card-img {
    width: 50vw;
  }

  #home-main-container {
    margin-top: 20px;
  }
  #login-container,
  #signUp-container {
    width: 60vw;
  }

  #login-container {
    margin-top: 10px;
  }

  #signUp-container {
    margin-bottom: 30px;
  }

  #signup-form button,
  #login-form button {
    width: 200px;
  }
  #search-form,
  #price-form,
  #category-form {
    flex-direction: column;
  }
  #search-form input {
    width: 50vw;
    margin-bottom: 10px;
  }

  #search-form button {
    margin-top: 0px;
    width: 100px;
  }

  #price-form {
    margin-right: 40px;
  }

  .restaurant-list-card {
    border: none;
    border-radius: 0px;
    width: 90vw;
    height: 20vh;
    margin: 2vh 5vw 2vh;
    box-shadow: none;
  }

  .restaurant-list-card p,
  #rest-card-cat {
    margin: 5px 0px;
  }

  .restaurant-card-img {
    width: 20vw;
    height: 13vh;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  }

  .nav-dropdown-container .dropbtn {
    padding: 10px 10px;
  }

  #rest-list-card1 {
    flex: 5 5 0;
    width: 20vw;
  }
  #rest-list-card2,
  #rest-list-card3 {
    flex: 1 1 auto;
    width: 35vw;
    margin-top: 0px;
    padding-left: 5px;
  }

  .searchcard-link-addbttn {
    margin-right: 0vw;
  }

  #add-to-list-click {
    margin: 0px;
  }
}
